<div th:fragment="delete-modal" class="modal fade" tabindex="-1"
     th:id="${'delete-modal' + user.id}"
     th:object="${user}" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{delete}" method="post">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="close border-0 bg-transparent"
                            data-bs-dismiss="modal" aria-label="Close">&#x2715;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container w-50 pb-2 text-center font-weight-bold">
                        <div class="mb-3">
                            <label for="id">ID</label>
                            <input disabled th:value="${user.id}" type="number"
                                   class="form-control readonly" id="id" name="id">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input disabled th:value="${user.username}" type="text"
                                   class="form-control readonly" id="username">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input disabled th:value="${user.email}" type="email"
                                   class="form-control readonly" id="email">
                        </div>
                        <div class="mb-3">
                            <label for="role" class="form-label">Role</label>
                            <div>
                                <select disabled class="form-control" size="2" id="role">
                                    <option th:each="role : ${roles}"
                                            th:value="${role.id}"
                                            th:text="${role.authority}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>