<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:replace="fragments/head :: head">
    <title>Add new user</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow-y: hidden;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            height: 92vh;
        }

        .sidebar-sticky > .nav > li:nth-child(1) > a {
            background-color: #0d6efd;
            border-radius: 3px;
            color: white;
        }

        .form-control {
            background-color: papayawhip;
        }

        footer {
            margin-top: auto;
        }
    </style>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/sidebar :: sidebar"></nav>
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 p-4 bg-light">
            <h1 class="mb-4">Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="admin-page">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="add-new-user">New User</a>
                </li>
            </ul>
            <h3 class="bg-light mb-0 py-2 px-4 border border-top-0 border-bottom-0">
                Add new user
            </h3>
            <div class="border rounded-bottom p-4 bg-white ">
                <div class="table-responsive">
                    <form th:action="@{add-new-user}" th:object="${user}" method="post"
                          class="container w-50 pb-2 text-center font-weight-bold">
                        <div class="mb-3">
                            <label for="firstName" class="form-label m-0">Username</label>
                            <input th:field="*{username}" type="text" class="form-control"
                                   id="firstName" placeholder="Enter first name"
                                   autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label m-0">Email</label>
                            <input th:field="*{email}" type="email" class="form-control"
                                   id="email" placeholder="Enter email"
                                   autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label m-0">Password</label>
                            <input th:field="*{password}" type="password" class="form-control"
                                   id="password" placeholder="Enter password"
                                   autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="role" class="form-label m-0">Role</label>
                            <div>
                                <select th:field="*{roles}" size="2" id="role"
                                        class="custom-select form-control">
                                    <option th:each="role : ${roles}"
                                            th:value="${role.getID()}"
                                            th:text="${role.getName()}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Add new user</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script1 :: script1"></div>
<div th:replace="fragments/script2 :: script2"></div>
<div th:replace="fragments/script3 :: script3"></div>
</body>
</html>